.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.theme-menu__button {
  position: relative;
  padding-left: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:hover {
  cursor: pointer;
}

.theme-menu__button:disabled:hover {
  cursor: default;
}

.theme-menu__button:hover::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 24px;
  display: block;
  width: 70%;
  height: 1px;
  background-color: var(--accent-color);
}

.theme-menu__button:disabled:hover::after {
  display: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 10%;
  left: 4px;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.6;
  font-family: var(--accent-font);
  transform: translateY(-50%);
  animation: arrowShift 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 25px;
  display: block;
  width: 0;
  height: 1px;
  background-color: var(--accent-color);
  transition: width 0.5s ease;
}

.theme-menu__button:hover::after {
  width: 70%;
}

.theme-menu__button:disabled:hover::after {
  display: none;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  color: var(--accent-color);
}
