/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--text-color);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  background-image: var(--background-image-light);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 323px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--card__text-weight_theme-light);
}

.theme-dark .page {
  background-image: var(--background-image-dark);
  font-variation-settings: "wght" var(--card__text-weight_theme-dark);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 696px;
  margin: 102px auto;
  border: 2px solid var(--accent-color);
  padding-bottom: 25px;
  background-color: var(--background-color);
}

.header__title {
  margin-top: 120px;
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
}

@media (375px <= width <=696px) {
  .header__title {
    margin-top: calc(120px + (136 - 120) * ((100vw - 375px) / (696 - 375)));
  }
}

@media (width > 697px) {
  .header__title {
    margin-top: 136px;
  }
}

.header__subtitle {
  margin-top: 20px;
  margin-bottom: 25px;
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  position: relative;
  padding-left: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:hover {
  cursor: pointer;
}

.theme-menu__button:disabled:hover {
  cursor: default;
}

.theme-menu__button:hover::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 24px;
  display: block;
  width: 70%;
  height: 1px;
  background-color: var(--accent-color);
}

.theme-menu__button:disabled:hover::after {
  display: none;
}

@keyframes arrowShift {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(4px);
  }
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 10%;
  left: 4px;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.6;
  font-family: var(--accent-font);
  transform: translateY(-50%);
  animation: arrowShift 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 25px;
  display: block;
  width: 0;
  height: 1px;
  background-color: var(--accent-color);
  transition: width 0.5s ease;
}

.theme-menu__button:hover::after {
  width: 70%;
}

.theme-menu__button:disabled:hover::after {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 696px;
  margin: 0 auto;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.card__title {
  margin: 5px 11px;
  font-weight: var(--card__title-weight_theme-light);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
}

.card__text-content {
  margin: 25px;
}

.card__text {
  font-weight: var(--card__text-weight_theme-light);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
}

.card__text:first-of-type {
  margin-bottom: 27px;
}

.card__picture-container {
  position: relative;
}

.card__watermark {
  position: absolute;
  top: 30px;
  right: 20px;
  color: var(--text-color);
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  text-shadow: -1px -1px 0 var(--stroke-color-light),
    1px -1px 0 var(--stroke-color-light), -1px 1px 0 var(--stroke-color-light),
    1px 1px 0 var(--stroke-color-light);
  mix-blend-mode: hard-light;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--stroke-color-light);
}

.theme-dark .card__watermark {
  text-shadow: -1px -1px 0 var(--stroke-color-dark),
    1px -1px 0 var(--stroke-color-dark), -1px 1px 0 var(--stroke-color-dark),
    1px 1px 0 var(--stroke-color-dark);
  -webkit-text-stroke-color: var(--stroke-color-dark);
}

.card__picture {
  display: block;
  width: 100%;
  max-width: 696px;
  margin: 0 auto;
}

.card__action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 271px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: auto;
}

.like-icon {
  margin-right: 12px;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--text-color-light);
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  transition: color 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.card__like-button,
.card__icon-button {
  position: relative;
  margin: 10px;
  border: 2px solid var(--accent-color);
  padding: 12px 37px;
  overflow: hidden;
  background-color: var(--text-color-light);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  cursor: pointer;
}

.card__like-button::before,
.card__icon-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.card__like-button:hover::before,
.card__icon-button:hover::before {
  transform: scaleX(1);
  
}

.theme-dark .button__text {
  color: var(--accent-color);
}

.theme-dark .card__like-button,
.theme-dark .card__icon-button {
  background-color: var(--accent-color);
}

.theme-dark .card__like-button::before,
.theme-dark .card__icon-button::before {
  background-color: var(--background-color);
}

.card__like-button:focus,
.card__icon-button:focus {
  outline: none;
}

.card__like-button:focus-visible,
.card__icon-button:focus-visible {
  box-shadow: 2px 2px 0px 1px var(--accent-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.theme-light .card__like-button:hover,
.theme-light .card__icon-button:hover {
  background-color: var(--text-color-light);
}

.theme-light .card__like-button:hover .button__text,
.theme-light .card__icon-button:hover .button__text {
  color: var(--text-color-light);
}

.theme-light .card__like-button:hover::before,
.theme-light .card__icon-button:hover::before {
  background-color: var(--accent-color);
}

.theme-dark .card__like-button:hover,
.theme-dark .card__icon-button:hover {
  background-color: var(--background-color);
}

.theme-dark .card__like-button:hover .button__text,
.theme-dark .card__icon-button:hover .button__text {
  color: var(--text-color);
}

.like-icon {
  display: inline-block;
  margin-right: 12px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.like-icon:focus {
  outline: none;
}

.like-icon:focus-visible {
  border-color: var(--accent-color);
}

/*-------------button footer----------*/

.card__icon-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 54px auto 100px;
  border: 2px solid var(--accent-color);
  padding: 20px 15px;
  background-color: var(--background-color);
  cursor: pointer;
}

#card-icon {
  z-index: 2;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  fill: var(--background-color);
}

.button__text {
  color: var(--background-color);
  font-size: 16px;
  text-align: center;
}

.theme-light #card-icon {
  fill: var(--accent-color);
}

.theme-light #card-icon:hover {
  fill: white;
}

.theme-dark #card-icon {
  fill: black;
}

.theme-dark #card-icon:hover {
  fill: var(--accent-color);
}

.theme-light .card__icon-button {
  color: var(--accent-color);
}

.theme-light .card__icon-button:hover {
  color: white;
}

.theme-dark .card__icon-button {
  color: black;
}

.theme-dark .card__icon-button:hover {
  color: var(--accent-color);
}

/*---------------------heart----------------------------*/

.heart .core,
.heart .main-body,
.sparks {
  opacity: 0;
  fill: var(--heart-contour-color);
}

.heart .core {
  transition: opacity 0.3s linear, fill 0.3s linear;
}

.heart .main-body {
  transition: opacity 0.3s linear 0.05s, fill 0.3s linear 0.05s;
}


.sparks {
  transition: opacity 0.3s linear;
}

.like-icon:hover .heart .core,
.like-icon:active .heart .core {
  opacity: 1;
}

.like-icon:hover .heart .main-body,
.like-icon:active .heart .main-body {
  opacity: 1;
}

.like-icon:active .heart .core,
.like-icon:active .heart .main-body {
  fill: var(--heart-red-color);
}

.like-icon:focus:not(:active) .sparks {
  opacity: 1;
  fill: var(--heart-red-color);
}

.like-icon:not(:focus) .sparks,
.like-icon:active .sparks {
  opacity: 0;
}

@keyframes heartScale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    transform-origin: center;
  }
}

@keyframes sparksOpacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.like-icon.is-liked .heart {
  animation: heartScale 0.3s ease-in 0.1s both;
}

.like-icon.is-liked .sparks {
  fill: var(--heart-red-color);
  animation: sparksOpacity 0.3s ease-in 0.3s both;
}

.like-icon:not(.is-liked) .heart .contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}



