:root.theme-light {
  --background-color: #fff;
  --accent-color: #000;
  --background-image: var(--background-image-light);
  --watermark-stroke-color: #fff;

  /* card */
  --card-title-weight: 700;
  --card-text-weight: 400;

  /* button */
  --button-text-color: #fff;
}

:root.theme-dark {
  --background-color: #000;
  --accent-color: #00cc14;
  --background-image: var(--background-image-dark);
  --watermark-stroke-color: #000;

  /* card */
  --card-title-weight: 785;
  --card-text-weight: 465;

  /* button */
  --button-text-color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --accent-color: #00cc14;
    --background-image: var(--background-image-dark);
    --watermark-stroke-color: #000;

    /* card */
    --card-title-weight: 785;
    --card-text-weight: 465;

    /* button */
    --button-text-color: var(--accent-color);
  }
}

/* floppy */
:root.theme-light #card-icon {
  mix-blend-mode: difference;
}
