:root.theme-light {
  --background-color: #fff;
  --accent-color: #000;
  --text-color: #000;
  --stroke-color-light: #fff;
  --heart-contour-color: #000;
}

:root.theme-dark {
  --background-color: #000;
  --accent-color: #00cc14;
  --text-color: #00cc14;
  --stroke-color-dark: #000;
  --heart-contour-color: #00cc14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --accent-color: #00cc14;
    --text-color: #00cc14;
    --card__text-weight_theme-dark: 465;
    --card__title-weight_theme-dark: 785;
    --background-image-dark: repeating-linear-gradient(
        90deg,
        #000 0px,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        0deg,
        #000 0px,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(0deg, #007f0c, #004306);
  }
}
